.campus-card {
  background-color: #b2a38e;
  margin: 1rem auto;              
  padding: 1.5rem;                
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.campus-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.campus-card-header h2 {
  margin: 0;
  color: #3e1354;
  font-size: 1.5rem;              
}

.campus-card-header p {
  font-weight: bold;
  color: #3c2d50;
  font-size: 1.1rem;
}

.campus-card-header-button p {
  cursor: pointer;
  color: #b22222;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.campus-card-header-button p:hover {
  color: #8b0000;
}

a {
  text-decoration: none;
  color: #543c13;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.1rem;
}

a:hover {
  color: #3c2d50;
}