* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  min-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #543c13;
}
.nav a {
color: #ffffff;
text-decoration: none;
font-size: 24px;
}

.nav .active{
  background-color: #b2a38e;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  
}

.nav a:hover{
color: #1a0875b8;
text-decoration: none;
font-size: 24px;
}

.nav a.active {
background-color:c

}

/* testing */