.student-card {
  background-color: #b2a38e;
  margin: 16px auto;
  padding: 19.2px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  font-size: 14.4px;
}

.student-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-card-header h2 {
  margin: 0;
  color: #3e1354;
  font-size: 19.2px;
}

.student-card-header-button p {
  cursor: pointer;
  color: #b22222;
  user-select: none;
  transition: color 0.3s ease;
  font-size: 16px;
}

.student-card-header-button p:hover {
  color: #8b0000;
}

.student-card p {
  color:#3c2d50;
  margin: 8px 0;
  font-size: 16pc;
  font-weight: 500;
}