.student-card {
  margin-top: 20px;
  background-color: #b2a38e;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  gap:0.5rem;
}

.student-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-card-header h2 {
  color: #3e1354;
  font-size: 1.25rem;
}

.student-card-header-button p {
  cursor: pointer;
  color: #b22222;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.student-card-header-button p:hover {
  color: #8b0000;
}

.student-card p {
  color:#3c2d50;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #543c13;
  font-weight: bold;
  font-size: 1rem;
}

a:hover {
  color: #3c2d50;
}